@{
    ViewBag.Title = "RIMA";
}

<img src="@Url.Content("~/Content/photo1.jpg")" width="1110" height="800" />

<div class="jumbotron">
    <h1>RIMA</h1>
    <p class="lead">Your favorite online shopping store.</p>
    <p><a href="https://www.instagram.com" class="btn btn-primary btn-lg">Instagram &raquo;</a></p>
    <p><a href="https://www.facebook.com" class="btn btn-primary btn-lg">Facebook &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Visit us</h2>
        <p>
         Here you can find us on map
        </p>
        <p><a class="btn btn-primary btn-lg" href="https://www.google.com/maps">Map &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>