@{
    ViewBag.Title = "About";
}

@{
    ViewBag.Message = "About us";
}

<h3>@ViewBag.Message</h3>

<p>Here at Rima, we reimagine timeless aesthetics for a modern era, creating original prints and designing unique pieces that are accessible to all.</p>
