@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Hrasnička cesta 15<br />
    Ilidža, 71 000 Sarajevo<br />
    <abbr title="Phone">P: </abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Rima@support.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Rima@marketing.com</a>
</address>